{
    "presets": ["env", "stage-0"],
    "ignore": [
        "./lib/mui/js/mui.min.js"
    ],
    "plugins": ["transform-runtime",["component",{
        "libraryName":"mint-ui",
        "style":true
    }],
    ["import", {
        "libraryName": "muse-ui",
        "libraryDirectory": "lib",
        "camel2DashComponentName": false
      }]]
    
}